<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Cabify Store</title>

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

            <link rel="stylesheet" href="/static/style.css">
            <link rel="stylesheet" href="/static/navigation_bar.css">
        </head>
</head>
<body>

<header>
</header>

  <!-- Page Content -->
  <div class="container">

  {{ range $key, $val := . }}
  <div class="card">
    <div class="card-header">
      Cabify Store
    </div>
    <div class="card-body">
      <h5 class="card-title">Basket</h5>
      <p class="card-text">This is a basket with some products.</p>
      <a href="/basket/{{$val.Id}}" class="btn btn-primary">Go To Basket</a>
    </div>
  </div>

  {{ end }}

<div class="jumbotron">

  <form action="/create" method="post">
      <h3>Create A new Basket</h3>
     <input type="submit" class="btn btn-primary btn-lg" value="Create Basket">
   </form>

  </div>
</div>
 
</body>
</html>